<%- include('../partials/header.ejs') %>

<h1><%= title %></h1>

<%- include('./form.ejs', {title: book.title, desc: book.description, author: book.authors}) %>

<%- include('../partials/footer.ejs') %>