<form method="POST" class="mt-5">
    <div class="form-group">
        <label for="inputTitle">Название</label>
        <input type="text"
               name="title"
               value="<%= title %>" 
               class="form-control"
               id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputAuthors">Автор</label>
        <input type="text"
               name="authors"
               value="<%= authors %>" 
               class="form-control"
               id="inputAuthors">
    </div>

    <div class="form-group mb-3">
        <label for="inputDesc">Описание</label>
        <textarea
                rows="3"
                name="description"
                class="form-control"
                id="inputDesc"
        ><%= description %></textarea>
    </div>

    <div class="form-group text-right ">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>