<%- include('../partials/header.ejs') %>

<h1><%= title %></h1>

<%- include('./form.ejs', {title: book.title, description: book.description, authors: book.authors}) %>

<%- include('../partials/footer.ejs') %>