<%- include('../partials/header.ejs') %>

<h1 class="mb-5 pt-3">Страница 404</h1>
<p><%= description %></p>
<a href="/books" class="btn btn-primary">Вернуться на главную</a>

<%- include('../partials/footer.ejs') %> 