<%- include('../partials/header.ejs') %> 

<h1><%= title %></h1>

<form method="POST" class="mt-5">

    <div class="form-group mb-2">
        <label for="inputUserName">Логин</label>
        <input type="text"
               name="username"
               class="form-control"
               id="inputUserName"
               required
               >
    </div>

    <div class="form-group mb-3">
        <label for="inputPassword">Пароль</label>
        <input type="password"
               name="password"
               class="form-control"
               id="inputPassword"
               required>
    </div>

    <div class="form-group text-right mb-3">
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>

</form>

<p>Если у вас нет аккаунта, то <a href="signup">зарегистрируйтесь</a></p>


<%- include('../partials/footer.ejs') %>